.photos img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photos img:hover {
  border-color: #ff6347;
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.3s ease;
}
.main img {
  width: 830px;
  height: 830px;
  border: #ccc 5px solid;
  object-fit: cover;
}
